@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Identity;
@using RecipeBook.Models;

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ROLES";
}

<h2>All Roles</h2>

<table class="table table-sm table-bordered table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Users</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td>
                @using (Html.BeginForm("Update", "Role", new { id = role.Id }, FormMethod.Get))
                {
                    <button type="submit" class="btn btn-primary">Update</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Role", new { id = role.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger">Delete</button>
                }

            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Create", "Role"))
{
    <button type="submit" class="btn btn-primary">Create a Role</button>
}
