@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Recipe

<h2>Are you sure you want to delete @Model.Name?</h2>
<h4 class="light-text">You cannot undo this.</h4><br />

@using (Html.BeginForm())
{
  <input type="submit" class="btn btn-outline-dark" value="Delete" />
}
<div class="navlinks">
  <p>@Html.ActionLink("My Recipes", "Index")</p>
</div>