<nav id="header" class="navbar">
<a class="navbar-brand" href="/">
<h1> Dr. SillyStringz's Engineering Co. </h1>
</a>
@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("Categories", "Index", "Categories")
@Html.ActionLink("Recipes", "Index", "Recipes")
@using (Html.BeginForm("Search", "Recipes"))
{
@Html.TextBox("searchRecipes", null, new { placeholder = "Search by Name or Ingredient" })
<button type="submit">Search</button>
}
</nav><br /><br /><br /><br /><br />
@* 

<div class="navbar">
  <a class="navbar-brand" href="/">
    <h1> Recipe Book</h1>
  </a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="#">Categories</a>
      <a href="#">Recipes</a>
      <a href="#">Account</a>
    </div>
  </div>
</div> *@
